@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========
  Global Section
========== */

:root {
  --white-coffee: #eae0d6;
  --khaki: #c6ad8f;
  --ebony-clay: #5d503f;
  --umber: #22333b;
  --wood: #8b590f;

  --love: #ff0000;
  --leaf: #428745;
}

* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========
  Container Section
========== */

.wrapper {
  display: grid;
  height: calc(100vh + 100px);
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
}

.container {
  margin: 15px;
  padding: 15px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}

#sign-container {
  grid-area: 1 / 2 / 2 / 3;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ==========
  Navigation Section
========== */
nav {
  background-color: var(--umber);
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  justify-items: flex-end;
  align-items: center;
  grid-template-columns: 1fr 4fr;
}

#sign-up {
  padding: 10px 30px;
  border: 2px solid var(--white-coffee);
  border-radius: 5px;
  outline: none;
  background-color: transparent;

  color: var(--white-coffee);
  font-weight: 600;

  cursor: pointer;
}

#sign-in {
  margin-left: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--white-coffee);

  color: var(--umber);
  font-weight: 600;

  cursor: pointer;
}

/* ==========
  Aside Section
========== */
aside {
  background-color: var(--umber);
  grid-area: 1 / 1 / 3 / 2;
  min-width: 300px;
}

aside .container {
  height: calc(100vh + 25px);
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
}

aside .container .logo {
  margin: 0.625rem 0 5rem 0;
  font-size: 1.5rem;
  color: var(--white-coffee);
  display: grid;
  grid-template-columns: 1fr 7fr;
}

aside .container ul {
  font-size: clamp(0.2rem, 1rem + 0.3661vw, 1.2rem);
  list-style: none;
  color: var(--white-coffee);
  display: grid;
  row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);

  align-items: center;
}

aside .container ul li {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* ==========
  Main Section
========== */

main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--khaki);
  overflow-y: auto;

  display: grid;
}

.card {
  width: 300px;
  height: 400px;
  background-color: var(--white-coffee);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 16px 2px rgba(0, 0, 0, 0.1);
}

/* ------
Text Container 
*/

.text-container {
  width: 250px;
  height: 350px;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
  overflow: hidden;
}

.create-card {
  border: 5px solid var(--ebony-clay);
  background-color: #35312e4c;
  cursor: pointer;
}

.fa-plus {
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 10rem;
  font-weight: 100;
  color: var(--ebony-clay);
}

.book-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #8e611d;
}

.book-author span,
.book-author,
.book-pages,
.book-status {
  font-size: 1.125rem;
  font-weight: 500;
}

.book-author span {
  color: var(--wood);
}

.book-author {
  color: var(--umber);
}

.book-pages {
  color: var(--wood);
}

.book-status {
  color: var(--leaf);
}

/*------
Feature Container 
*/

.features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.fa-hearts,
.fa-circle,
.fa-trash {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-hearts {
  color: var(--love);
  grid-column: 3 / 4;
}

.fa-circle {
  font-weight: 700;
  grid-column: 4 / 5;
}

.read {
  color: var(--leaf);
}

.going {
  color: #c18e31;
}

.not-started {
  color: var(--love);
}

.fa-trash {
  color: var(--umber);
  grid-column: 5 / 6;
}

#menu {
  display: none;
  margin: 15px;
  padding: 15px;
  font-size: 1.5rem;
  color: var(--white-coffee);

  align-items: center;
}

#side-menu {
  display: none;
}

#close-menu {
  margin: 2rem 0 4rem 0;
  color: var(--white-coffee);
  padding: 7px 0.325rem;
}

/* ==========
  Form Section
========== */

.pop-bg {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh + 100px);
  opacity: 1;
  transition: all 0.3s ease;
}

#close-form {
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
  left: 450px;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
}

.form-container {
  position: absolute;
  background-color: var(--white-coffee);
  border-radius: 10px;
  width: calc(500px + 25px);
  height: calc(600px + 25px);

  inset: 0 0 0 0;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
}

.input-container label {
  display: grid;
  align-items: center;
  cursor: pointer;
}

#radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#radio-container input {
  cursor: pointer;
}

#title-container,
#author-container,
#pages-container,
#status-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#title-container label,
#author-container label,
#pages-container label,
#status-container label {
  font-weight: 600;
  font-size: 1.125rem;
}

#title,
#author,
#pages,
#status {
  padding: 10px;
  outline: none;
  border: 2px solid var(--umber);
  border-radius: 5px;
  background-color: var(--khaki);
}

.input-container button {
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border: 5px solid rgb(146, 48, 63);
  background-color: rgb(219, 72, 94);

  cursor: pointer;
  transition: all 0.3s ease;
}

.input-container button:hover {
  border: 5px solid rgb(213, 106, 122);
  background-color: rgb(213, 106, 122);
}

/* @media screen and (min-width: 768px){

} */

@media screen and (max-width: 768px) {
  #menu {
    display: block;
    justify-content: center;
  }

  #side-menu {
    display: block;
  }

  #fixed-menu {
    display: none;
  }

  aside {
    min-width: 75px;
  }

  aside .container {
    background-color: var(--umber);
    position: absolute;
    z-index: 999;

    width: 50%;
    height: calc(100vh + 100px);
    top: 0;
    margin: 0px;
  }

  #sign-up {
    font-size: 0.75rem;
    max-width: 100px;
    max-width: 120px;
    padding: 5px 10px;
  }

  #sign-in {
    padding: 5px 10px;
    font-size: 0.75rem;
    width: 100%;
    max-width: 100px;
  }

  .text-container {
    width: 150px;
    height: 250px;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
  }

  #card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .card {
    width: 200px;
    height: 300px;
  }

  .fa-plus {
    font-size: 5rem;
  }

  .book-title {
    font-size: 0.8rem;
  }

  .book-author span,
  .book-author,
  .book-pages,
  .book-status {
    font-size: 0.625rem;
    font-weight: 500;
  }

  .features {
    column-gap: 20px;
  }

  .pop-bg {
    display: none;
    width: 100%;
    height: calc(100vh + 100px);
  }

  #close-form {
    margin: 0 15px;
    padding: 0 15px;
    left: 210px;
    top: 20px;
    font-size: 1.25rem;
    font-weight: 800;
  }

  .form-container {
    width: calc(250px + 25px);
    height: calc(350px + 25px);
  }

  .input-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
  }

  #radio-container {
    gap: 10px;
    font-size: 0.6rem;
  }

  #title-container label,
  #author-container label,
  #pages-container label,
  #status-container label {
    font-weight: 600;
    font-size: 0.6rem;
  }

  #title,
  #author,
  #pages,
  #status {
    padding: 5px;
    font-size: 0.6rem;
  }

  .input-container button {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 425px) {
  #sign-up {
    border: 2px solid var(--white-coffee);
    font-size: 0.7rem;
    width: 100%;
    max-width: 100px;
  }

  #sign-in {
    padding: 5px 10px;
    font-size: 0.7rem;
    width: 100%;
    max-width: 110px;
  }

  #fixed-menu {
    display: none;
  }

  aside .container {
    background-color: var(--umber);
    position: absolute;
    z-index: 999;

    width: 100%;
    height: calc(100vh + 100px);
    top: 0;
    margin: 0px;
  }
}
