@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==========
  Global Section
========== */

:root{
  --white-coffee: #EAE0D6;
  --khaki: #C6AD8F;
  --ebony-clay: #5D503F;
  --umber: #22333B;
  --wood: #8B590F;

  --love: #ff0000;
  --leaf: #428745;
}

*{
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========
  Container Section
========== */

.wrapper{
  display: grid;
  height: calc(100vh + 100px);
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
}

.container{
  margin: 15px;
  padding: 15px;
}

#card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}

/* ==========
  Navigation Section
========== */
nav{
  background-color: var(--umber);
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  justify-items: flex-end;
  align-items: center;
}

#sign-up{
  padding: 10px 30px;
  border: 2px solid var(--white-coffee);
  border-radius: 5px;
  outline: none;
  background-color: transparent;

  color: var(--white-coffee);
  font-weight: 600;

  cursor: pointer;
}

#sign-in{
  margin-left: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--white-coffee);

  color: var(--umber);
  font-weight: 600;

  cursor: pointer;
}



/* ==========
  Aside Section
========== */
aside{
  background-color: var(--umber);
  grid-area: 1 / 1 / 3 / 2;
  min-width: 300px;
}

aside .container{
  height: calc(100vh);
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
}

aside .container .logo{
  margin: 0.625rem 0 5rem 0;
  font-size: 1.50rem;
  color: var(--white-coffee);
  display: grid;
  grid-template-columns: 1fr 7fr;

}

aside .container ul{
  font-size: clamp(.2rem, 1rem + 0.3661vw, 1.2rem);
  list-style: none;
  color: var(--white-coffee);
  display: grid;
  row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);

  align-items: center;
}

aside .container ul li{
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* ==========
  Main Section
========== */

main{
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--khaki);
  overflow-y: auto;

  display: grid;
}

.card{
  width: 300px;
  height: 400px;
  background-color: var(--white-coffee);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 16px 2px rgba(0, 0, 0, 0.1);
}

/* ------
Text Container 
*/

.text-container{
  width: 250px;
  height: 350px;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
}

.create-card{
  border: 5px solid var(--ebony-clay);
  background-color: #35312e4c;
  cursor: pointer;
}

.fa-plus{
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 10rem;
  font-weight: 100;
  color: var(--ebony-clay);
}

.book-title{
  font-size: 1.50rem;
  font-weight: 600;
  color: #8E611D;
}

.book-author span,
.book-author,
.book-pages,
.book-status {
  font-size: 1.125rem;
  font-weight: 500;
}

.book-author span{
  color: var(--wood);
}

.book-author {
  color: var(--umber);
}

.book-pages{
  color: var(--wood);
}

.book-status{
  color: var(--leaf);
}

/*------
Feature Container 
*/

.features{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.fa-hearts,
.fa-circle,
.fa-trash{
  font-size: 1.50rem;
  cursor: pointer;
}

.fa-hearts{
  color: var(--love);
  grid-column: 3 / 4;
}

.fa-circle{
  color: var(--leaf);
  font-weight: 800;
  grid-column: 4 / 5;
}

.fa-trash{
  color: var(--umber);
  grid-column: 5 / 6;
}

/* ==========
  Form Section
========== */


.pop-bg{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh + 100px);
  opacity: 1;
  transition: all 0.3s ease;
}

.form-container{
  position: absolute;
  background-color: var(--white-coffee);
  border-radius: 10px;
  width: calc(500px + 25px);
  height: calc(600px + 25px);

  inset: 0 0 0 0;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-items: center;
}

.input-container{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
}

.input-container label{
  display: grid;
  align-items: center;
}

#radio-container input{
  cursor: pointer;
}

#title-container,
#author-container,
#pages-container,
#status-container{
  display: grid;
  grid-template-rows: repeat(2,1fr);
}

#title-container label,
#author-container label,
#pages-container label,
#status-container label{
  font-weight: 600;
  font-size: 1.125rem;
}

#title,
#author,
#pages,
#status{
  padding: 10px;
  outline: none;
  border: 2px solid var(--umber);
  border-radius: 5px;
  background-color: var(--khaki);
}

.input-container button{
  
  border-radius: 10px;
  font-size: 1.50rem;
  font-weight: 600;
  color: white;
  border: 5px solid  rgb(146, 48, 63);
  background-color: rgb(219, 72, 94);
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-container button:hover{
  border: 5px solid rgb(213, 106, 122);
  background-color: rgb(213, 106, 122);
}

